<% @events.each do |event| %>
  <% e = OpenStruct.new(event) %>

  <!-- <pre><%= e %></pre> -->
  <p>Upcoming Events</p>
  <img src="<%= cover_for_event(e.id)%>" >
  <h1><%= e.name %></h1>
  <p><%= e.location %></p>
  <p><%= e.start_time.to_time.to_formatted_s(:short) %></p>
  <p><%= e.rsvp_status %></p>
  <%= link_to "facebook", "https://facebook.com/#{e.id}"%>
  </br>
  <p>Past Events</p>

<% end %>