<!DOCTYPE html>
<html>
<head>
  <title>Ingrid</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway" rel="stylesheet">
</head>
<body>
  <div class="container">
  <div class="cbp-af-header">
    <div class="cbp-af-inner">
      <h1><%=link_to "ingrid", root_path %></h1>
      <nav>
        <%= link_to "About", about_path %>
        <%= link_to "Events", events_path %>
        <%= link_to "Contact", contact_path %>
        <a href="https://www.facebook.com/ingridprojects/?fref=ts" target="_blank"><i class="fa fa-facebook-square">f</i></a></li>
      </nav>
    </div>
  </div>
  
    <%= yield %>
  </div>
  <script src="assets/classie.js"></script>
  <script src="assets/cbpAnimatedHeader.min.js"></script>
</body>
</html>



