<!DOCTYPE html>
<html>
<head>
  <title>Ingrid</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Poppins|Raleway" rel="stylesheet">
</head>
<body>
    <nav>
      <ul>
        <li><h1><%=link_to "Ingrid", root_path %></h1></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>

<%= yield %>

</body>
</html>
